{% extends "base.html" %}



{# The page title #}
{% block title %}
  GNUConnect - Home
{% endblock %}


{# The body contents of the page #}
{% block content %}
 <div class="container home-contents">
 	<div id="page" class="row">
	    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 cont-menu squeeze">
	    	<!-- Profile picture's menu group -->
	    	<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12 menu-profile">
	    		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 menu-me squeeze">
		    		<img src="/assets/img/sample_profile_pic.gif" alt="..." class="img-rounded profile-pic">
		    	</div>
		    	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 menu-me">
		    		<div class="menu-item item-notifications">
		    			
		    		</div>
		    	</div>
	    		<!-- Notifications' menu item -->
	    		
	    	</div>
	    	<!-- Projects' menu group -->
	    	<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12 menu-projects">
	    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 menu-me">
		    		<div class="menu-item item-me">
		    			
		    		</div>
		    	</div>
		    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 menu-others">
		    		<div class="menu-item item-others">
		    			
		    		</div>
		    		<div class="menu-item item-others">
		    			
		    		</div>
		    	</div>
	    	</div>
	    	<!-- Skills' menu group -->
	    	<div class="col-xs-4 col-sm-12 col-md-12 col-lg-12 menu-skills">
	    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 menu-me">
		    		<div class="menu-item item-me">
		    			
		    		</div>
		    	</div>
		    	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 menu-others">
		    		<div class="menu-item item-others">
		    			
		    		</div>
		    		<div class="menu-item item-others">
		    			
		    		</div>
		    	</div>
	    	</div>
	    </div>
	    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 contents squeeze">
	    	
	    </div>
	</div>
 </div>
{% endblock %}


	 
{# Custom items/links specific to the page added in the footer #}
{% block footer_custom_items %}
<span class="footer-txt">&copy; GNUConnect</span>&middot;
{% endblock %}