{% extends "base.html" %}



{# The page title #}
{% block title %}
  GNUConnect - Newsfeed
{% endblock %}



{# Items placed at the far right in the top navigation bar #}
{% block navbar_items %}

{% endblock %}



{# The body contents of the page #}
{% block content %}
  <div class="container home-contents">
    
  </div>
{% endblock %}

	 

{# Custom items/links specific to the page added in the footer #}
{% block footer_custom_items %}
<span class="footer-txt">&copy; GNUConnect</span>&middot;
{% endblock %}