/*  Modifying Bootstrap   <begin>*/
.navbar-static-top {
	background-color: #343434; /*#56138F;*/
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0;
	border-bottom: none;
}
.navbar-wrapper .navbar {
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.navbar .nav > li > a {
	color: #AAAAAA;
	background: inherit;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active {
	color: #FFFFFF;
	background: inherit;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #EFEFEF;
	color: #1C1C1C;
}
.panel-heading{
	height: 60px !important;
}
.panel-default{
	border-radius: 0 !important;
}
/*  Modifying Bootstrap   <end>*/

/*  Custom  */
.default-color {
	color: #FFFFFF;
}

/* home contents */
.home-contents {
	height: auto;
}
#page {
	height: auto;
}
.squeeze {
	margin: 0;
	padding: 0;
}
.contents {
	padding-top: 20px;
	height: auto;
	min-height: 600px;
	border-right: 1px solid #919191;
	border-left: 1px solid #919191;
}
.contents-head{
	margin-bottom: 30px;
}
.contents-body{
	margin-bottom: 20px;
}
.project-sidebar{
	width: 6px;
	height: 60px !important;
	float: left;
}
.project-title{
	max-width: 70% !important;
}
.project-title-inner{
	text-align: center;
	margin-bottom: 15px;
}
.cont-menu {
	margin-top: 50px;
	height: auto;
}

/* for debugging starts*/
.show{
	height: 400px;
}
.onared {
	border: 1px solid red;
}
.onagreen {
	border: 1px solid green;
}
/* for debugging ends */
.contents-items{
	float: left;
}
.home-pic {
	max-height: 90%;
	max-width: 90%;
}
.flat{
	border-radius: 0;
}
.menu-me {
	float: left !important;
}
.menu-others {
	float: right;
	padding-right: 0;
	margin-right: 0;
}
.item-me, .item-others {
	margin: 0;
	padding: 0;
}
.item-me {
	width: 50px;
	height: 120px;
	margin-top: 10px;
	float: right !important;
}
.item-others {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}
.menu-item {
	background-color: #777777;
}
.menu-separator {
	height: 50px;
}
.menu-header{
	font-size: 17px;
	text-align: center;
}
.categories{
	margin-top: 5px;
	margin-right: 10px;
	padding-left: 5px;
	padding-top: 0px;
	height: 50px;
	width: 110px;
}
.category-item{
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-bottom: 5px;
}
.cat-1{ 
	border-color: #C31A34;
	background-color: #C31A34;
}
.cat-2{ 
	border-color: #86C553;
	background-color: #86C553;
}
.cat-3{ 
	border-color: #F4EE58;
	background-color: #F4EE58;
}
.cat-4{ 
	border-color: #099453;
	background-color: #099453;
}
.cat-5{ 
	border-color: #FBB15C;
	background-color: #FBB15C;
}
.cat-6{ 
	border-color: #03ADEF;
	background-color: #03ADEF;
}
.cat-7{ 
	border-color: #6C2B8F;
	background-color: #6C2B8F;
}
.cat-8{ 
	border-color: #03ADEF;
	background-color: #03ADEF;
}
.project-pic{
	margin-top: -10px;
	margin-right: 10px;
	height: 60px;
	width: 60px;
	float: left;
}
.project-body-pic{
	max-height: 250px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.bg-clear{
	background-color: #FFFFFF;
}
.bg-project-me{
	background-color: #00AEEA;
}
.bg-project-recent{
	background-color: #0ABFEC;
}
.bg-project-add{
	background-color: #A3DCF0;
}
.bg-event-me{
	background-color: #1FB458;
}
.bg-event-recent{
	background-color: #78C382;
}
.bg-event-add{
	background-color: #BFDCBE;
}
.txt-green{
	color: #1FB458;
}
.txt-blue{
	color: #00AEEA;
}

/*  search and options */
.search-cont {
	width: 75%;
	float: left;
	margin-left: 15px;
}
.my-search {
	margin-top: 0;
	height: 30px;
	float: left;
	border: none;
	color: #1C1C1C;
}
.cont-search {
	border: 1px solid #919191;
	max-width: 250px;
}
#search-btn {
	font-size: 20px;
	color: #919191;
	margin-top: 2px;
	background-color: inherit;
	border: none;
}
.curve-corners {
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.cont-select {
	height: 33px;
	max-width: 300px;
	border-color: #919191;
}

/* profile page */
.profile-top{
	padding: 10px;
	padding-bottom: 20px;
	background-color: #F3F3F5;
}
.profile-contents{
	height: auto;
	padding: 0;
	padding-top: 20px;
}
.profile-info{
	float: left;
	padding: 10px;
	padding-top: 0px;
}
.profile-pic{
	height: 100%;
	width: 100%
}
.profile-name{
	font-size: 25px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 20px;
}
.profile-name a{
	font-size: 14px;
}
.profile-about-me{
	float: left;
	font-size: 14px;
}
.profile-connected{
	float: left;
	height: auto;
	padding: 10px;
}
.profile-connected-title{
	font-size: 17px;
	font-weight: 700;
}
.profile-connected-body{
	padding: 20px;
	padding-top: 10px;
}
.profile-connected-body span{
	margin-right: 20px;
	margin-bottom: 10px;
	display: inline-block
}
.link{
	color:#343434;
}
.profile-body{
	padding-top: 20px;	
	padding-bottom: 30px;
}
.profile-body div{
	padding-top: 10px;
}
.profile-body-heading{

}
.profile-body-heading span{
	font-weight: 700;
}
.profile-body-middle{
	padding: 5px;
	border-left: 3px solid #F3F3F5;
	border-right: 3px solid #F3F3F5;
}
.portfolio-cv{
	height: auto;
	padding: 5px;
}
.portfolio-cv div div{
	background-color: #CCCCCC;
	width: 95%;
	height: 100px;
}
.portfolio-video div div{
	background-color: #CCCCCC;
	width: 95%;
	height: 130px;
}
.portfolio-images{
	padding: 5px;
}
.portfolio-images img{
	max-height: 45%;
	max-width: 45%;
	margin-bottom: 5px;
	border-radius: 0px;
}
/* footer */
.footer {
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	background-color: #343434;
	padding: 10px;
}
.footer-txt, .footer-txt a {
	color: #AAAAAA;
	margin-left: 2%;
	margin-right: 2%;
}
.footer-txt a:hover {
	color: #FFFFFF;
}
