/*  Modifying Bootstrap   <begin>*/
.navbar-static-top {
	background-color: #343434; /*#56138F;*/
	padding: 0;
	margin-top: -20px;
	margin-bottom: 0;
	border-bottom: none;
}
.navbar-wrapper .navbar {
	border-radius: 0px;
}
.navbar .nav > li > a {
	color: #AAAAAA;
	background: inherit;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active {
	color: #FFFFFF;
	background: inherit;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #EFEFEF;
	color: #1C1C1C;
}
/*  Modifying Bootstrap   <end>*/

/*  Custom  */
.default-color {
	color: #FFFFFF;
}

/* home contents */
.home-contents{
	height: auto;
}
#page{
	height: auto;
}
.squeeze{
	margin: 0;
	padding: 0;
}
.contents{
	height: 900px;
	border-right: 1px solid #919191;
	border-left: 1px solid #919191;
}
.cont-menu{
	height: auto;
}
.onared{
	border: 1px solid red;
}
.onagreen{
	border: 1px solid green;
}
.profile-pic{
	max-height: 100%;
	max-width: 100%;
}
.menu-me{
	
}
.menu-others{
	float: right;
	padding-right: 0;
	margin-right: 0;
}
.item-me, .item-others{
	margin: 0;
	padding: 0;
}
.item-me{
	margin-top: 65px;
	float: right;
} 
.item-others{
	margin-top: 10px;
	margin-bottom: 20px;
	float: right;
	
}onared
.item-notifications{
	margin-top: 40px;
}
.menu-item{
	width: 70px;
	height: 70px;
	background-color: #CCCCCC;
}

/* footer */
.footer {
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	background-color: #343434;
	padding: 10px;
}
.footer-txt, .footer-txt a {
	color: #AAAAAA;
	margin-left: 2%;
	margin-right: 2%;
}
.footer-txt a:hover {
	color: #FFFFFF;
}

