/*  Modifying Bootstrap   <begin>*/
.navbar-static-top {
	background-color: #343434; /*#56138F;*/
	padding: 0;
	margin-top: -20px;
	margin-bottom: 0;
	border-bottom: none;
}
.navbar-wrapper .navbar {
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.navbar .nav > li > a {
	color: #AAAAAA;
	background: inherit;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active {
	color: #FFFFFF;
	background: inherit;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #EFEFEF;
	color: #1C1C1C;
}
.panel-heading{
	height: 60px !important;
}
/*  Modifying Bootstrap   <end>*/

/*  Custom  */
.default-color {
	color: #FFFFFF;
}

/* home contents */
.home-contents {
	height: auto;
}
#page {
	height: auto;
}
.squeeze {
	margin: 0;
	padding: 0;
}
.contents {
	padding-top: 20px;
	height: auto;
	min-height: 800px;
	border-right: 1px solid #919191;
	border-left: 1px solid #919191;
}
.contents-head{
	margin-bottom: 30px;
}
.contents-body{
	margin-top: 20px;
}
.project-sidebar{
	width: 5px;
	height: 60px !important;
	float: left;
}
.project-title{
	max-width: 70% !important;
}
.cont-menu {
	margin-top: 50px;
	height: auto;
}
.onared {
	border: 1px solid red;
}
.onagreen {
	border: 1px solid green;
}.contents-items{
	float: left;
}
.profile-pic {
	max-height: 90%;
	max-width: 90%;
}
.menu-me {
	float: left;
}
.menu-others {
	float: right;
	padding-right: 0;
	margin-right: 0;
}
.item-me, .item-others {
	margin: 0;
	padding: 0;
}
.item-me {
	margin-top: 50px;
	float: right !important;
}
.item-others {
	margin-top: 10px;
	margin-bottom: 20px;
	float: right;
}
.item-notifications {
	margin-top: 20px !important;
	margin-right: 11px;
	float: right !important;
	margin-bottom: 20px;
}
.menu-item {
	width: 50px;
	height: 50px;
	background-color: #777777;
}
.menu-separator {
	height: 50px;
}
.join-btn{
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-top: 0px;
	height: 30px;
	width: 30px;
	border-color: #919191;
}
.project-pic{
	margin-top: -10px;
	margin-right: 10px;
	max-height: 60px;
	max-width: 100px;
	float: left;
}
.project-body-pic{
	max-height: 250px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.bg-notification{
	background-color: #39ABE1;
}
.bg-project-me{
	background-color: #BA2C2A;
}
.bg-project-others-add{
	background-color: #ED5E26;
}
.bg-project-others-search{
	background-color: #FDAD1A;
}
.bg-event-me{
	background-color: #186738;
}
.bg-event-others-add{
	background-color: #8EC543;
}
.bg-event-others-search{
	background-color: #D6DF2A;
}

/*  search and options */
.search-cont {
	width: 75%;
	float: left;
	margin-left: 15px;
}
.my-search {
	margin-top: 0;
	height: 30px;
	float: left;
	border: none;
	color: #1C1C1C;
}
.cont-search {
	border: 1px solid #919191;
	max-width: 250px;
}
#search-btn {
	font-size: 20px;
	color: #919191;
	margin-top: 2px;
	background-color: inherit;
	border: none;
}
.curve-corners {
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.cont-select {
	height: 33px;
	max-width: 300px;
	border-color: #919191;
}

/* footer */
.footer {
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	background-color: #343434;
	padding: 10px;
}
.footer-txt, .footer-txt a {
	color: #AAAAAA;
	margin-left: 2%;
	margin-right: 2%;
}
.footer-txt a:hover {
	color: #FFFFFF;
}
